@charset "utf-8";

// 초기화 영역
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Pretendard-Regular", "Ibarra Real Nova";
}

//  변수
// 메인컬러
$main-color: #29306a;
$sub-color: #f0f363;

// 공통 영역

// .clearfix {
//   content: '';
//   position: relative;
//   display: block;
//   width: 100%;
//   clear: both;
// }

.wrap {
  position: relative;
  display: block;
  width: 100%;

  overflow: hidden;
}

.inner {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 1200px;
}

section {
  position: relative;
  display: block;
  width: 100%;

  padding-top: 100px;
  margin-bottom: 200px;
}

.main-title {
  position: relative;
  display: block;
  width: 100%;

  font-size: 45px;
  font-weight: 600;
  color: $main-color;
  padding: 30px 0;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 50px;
    display: block;
    width: 50%;
    height: 3px;
    background-color: $main-color;
  }
}
@media all and (max-width: 1440px) {
  .main-title {
    font-size: 40px;
  }
}
@media all and (max-width: 1025px) {
  .main-title {
    font-size: 34px;
  }
}

.base_box {
  position: relative;
  display: block;
  width: 400px;
  height: 400px;

  background-color: #fff;
  border-radius: 20px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

// 샘플

// 개별영역
// ---------------------------------------------------------------------
/* ===== side-menu ===== */
.sideMenu_wrap {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 30px;
  height: 600px;

  z-index: 9999;
  transition: all 0.5s;
  overflow: hidden;
  border-radius: 0 10px 10px 0;

  opacity: 0;

  ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;

    padding-left: 40px;
    border-radius: 0 10px 10px 0;
    background-color: rgba($color: $main-color, $alpha: 0.9);

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      display: block;
      width: 2px;
      height: 80%;
      background-color: #fff;
      opacity: 0.7;
      transition: all 0.7s;
    }

    li {
      position: relative;
      display: block;
      width: 100%;
      height: 100px;

      a {
        position: relative;
        display: block;
        width: 90%;
        height: 100%;

        font-size: 24px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        line-height: 100px;
        transition: all 0.5s;

        opacity: 0.4;

        &:hover {
          transform: translate(5%, -5%);
          opacity: 1;
        }
      }
    }
  }

  &:hover {
    width: 250px;
  }

  &:hover ul::after {
    left: 40px;
    opacity: 0;
  }
}
.sideMenu_wrap_on {
  opacity: 1;
}

// 반응형
@media all and (max-width: 1440px) {
  .sideMenu_wrap {
    height: 500px;

    ul li {
      height: 80px;
    }
  }
}
@media all and (max-width: 1025px) {
  .sideMenu_wrap {
    height: 400px;

    ul li {
      height: 60px;
    }
  }
}
/* ===== /// side-menu ===== */
// ---------------------------------------------------------------------
/* ===== tap-memu ===== */
.tap-menu {
  position: fixed;
  right: 2.5%;
  bottom: 3%;
  display: block;
  width: 60px;
  height: 60px;

  z-index: 999;

  a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: $main-color;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
    cursor: pointer;
  }

  /*  gotop  */
  .gotop {
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;

      font-size: 14px;
      color: #fff;
      transition: all 0.3s;
    }

    &:hover {
      i {
        top: 40%;
        color: #f0f363;
      }
    }
  }
  .gotop_on {
    visibility: visible;
    opacity: 1;
  }
  /*  /// gotop  */

  /* goPDF  */
  .goPDF {
    transition: all 0.3s;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;

      font-size: 22px;
      color: #fff;
      transition: all 0.3s;
    }
    &:hover {
      i {
        color: #f0f363;
      }
    }
  }
  .goPDF_on {
    top: -130%;
  }
  /* /// goPDF  */
}

/* ===== /// tap-memu ===== */

// ---------------------------------------------------------------------
/* ===== Home ===== */
.home {
  width: 100vw;
  height: 100vh;

  padding-top: 0;

  // logo
  .logo {
    position: absolute;
    top: 75px;
    left: 95px;
    display: inline-block;

    font-family: "Ibarra Real Nova";
    font-size: 32px;
    font-weight: bold;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -15px;
      display: inline-block;
      width: 8px;
      height: 8px;

      border-radius: 3px;
      background-color: $main-color;
    }
  }

  // nav
  .homeNav {
    position: absolute;
    top: 95px;
    left: calc(100% - 740px);
    display: block;
    width: 600px;
    z-index: 99;

    font-family: "Ibarra Real Nova";

    ul {
      position: relative;
      display: flex;
      justify-content: space-between;

      width: 100%;

      li {
        position: relative;
        display: block;

        a {
          position: relative;
          display: block;

          font-size: 24px;
          opacity: 0.3;
          transition: all 0.7s;
        }

        &:first-child a {
          opacity: 1;
          color: $main-color;
        }

        &:hover a {
          opacity: 1;
        }
      }
    }
  }

  // Home-main
  .home-main {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 16vw 50px 30px 20vw;

    p {
      position: relative;
      display: block;

      font-size: 50px;
      font-weight: 800;
      color: #000;
      line-height: 70px;

      b {
        color: $main-color;
      }

      strong {
        position: relative;
        display: inline-block;

        font-size: 80px;
        line-height: 100px;
        color: $main-color;

        margin-top: 10px;
      }
    }
  }

  .home-arrow_down {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 40px;
    height: 40px;

    transition: all 0.2s;

    a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;

      background: url("../images/icon/arrow_down.svg") no-repeat center;
      background-size: cover;
    }
    &:hover {
      bottom: 75px;
    }
  }
}
// 반응형
@media all and (max-width: 1440px) {
  .home {
    .logo {
      font-size: 24px;
    }
    .homeNav {
      top: 75px;
    }
    .home-main {
      p {
        font-size: 40px;
        line-height: 60px;
        strong {
          font-size: 70px;
        }
      }
    }
  }
}
@media all and (max-width: 1025px) {
  .home {
    .logo {
      top: 20px;
      left: 20px;
      font-size: 20px;
    }
    .homeNav {
      top: 80px;
      ul {
        li {
          a {
            font-size: 20px;
          }
        }
      }
    }
    .home-main {
      padding-top: 250px;
      p {
        font-size: 30px;
        line-height: 50px;
        strong {
          font-size: 60px;
        }
      }
    }
  }
}
@media all and (max-width: 800px) {
  .home {
    .homeNav {
      left: calc(100% - 440px);
      width: 400px;
      ul {
        li {
          a {
            font-size: 18px;
          }
        }
      }
    }
    .home-main {
      padding-top: 200px;
      padding-right: 40px;
      p {
        strong {
          font-size: 42px;
        }
      }
    }
  }
}
/* ===== /// Home ===== */
// ---------------------------------------------------------------------
/* ===== About ===== */
.about {
  .main-title {
    width: 1100px;
    margin: 0 auto;

    &::after {
      left: 250px;
    }
  }

  .inner {
    display: flex;
    justify-content: center;

    .base_box {
      margin: 0 10px;
      border-radius: 0;
    }
  }
  .about-left {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 500px;

    .about_img {
      position: absolute;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 11.5vw;
      height: 300px;

      background: url("../images/myimg.png") no-repeat center;
      background-size: contain;

      border: 3px solid rgba($color: $main-color, $alpha: 0.25);
      border-radius: 10px;
    }

    ul {
      position: absolute;
      bottom: 17%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      li {
        position: relative;
        display: block;
        width: 70%;
        padding: 0 10px;

        h4 {
          position: relative;
          display: inline-block;
          width: 80px;

          font-size: 14px;
          font-weight: 600;
          color: #333;

          padding: 10px 0;
        }

        p {
          position: relative;
          display: inline-block;

          font-size: 20px;
          font-weight: 700;
          white-space: nowrap;
        }
      }
    }

    strong {
      position: absolute;
      bottom: 30px;
      left: 0;
      display: block;
      width: 100%;

      font-size: 20px;
      font-weight: 600;
      text-align: center;
    }
  }

  .about-right {
    position: relative;
    display: inline-block;
    width: 700px;
    height: 500px;

    border-radius: 15px;
    overflow: hidden;

    padding: 30px;

    ul {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      li {
        position: relative;
        display: block;
        width: 100%;

        margin-bottom: 20px;

        h4 {
          position: relative;
          display: block;

          font-size: 22px;
          font-weight: 700;

          padding: 10px 0;
        }

        p {
          position: relative;
          display: block;

          font-size: 18px;
          line-height: 30px;
          letter-spacing: -1px;
        }

        &:last-child {
          width: 100%;
        }
      }
    }
  }
}
// 반응형
@media all and (max-width: 1440px) {
  .about {
    .main-title {
      width: 76vw;
    }
    .inner {
      width: 84vw;
    }
  }
}
@media all and (max-width: 1025px) {
  .about {
    .about-left {
      ul li {
        h4 {
          font-size: 12px;
        }
        p {
          font-size: 16px;
        }
      }
      strong {
        font-size: 16px;
      }
    }

    .about-right {
      ul li {
        h4 {
          font-size: 18px;
        }
        p {
          font-size: 14px;
          line-height: 25px;
        }
      }
    }
  }
}
/* ===== ///About ===== */
// ---------------------------------------------------------------------
/* ===== Portfolio ===== */
.portfolio {
  .main-title {
    text-align: center;

    &::after {
      content: none;
    }
  }
  &-part_1 {
    margin-bottom: 0;
  }
  &-part_2 {
    margin-bottom: 100px;
  }
  &-part_3 {
    margin-bottom: 100px;
    padding-top: 100px;
  }
}

// clone code
.portfolio-part_1 {
  position: relative;
  display: block;
  width: 100%;
  height: 2000px;

  .pf1-item {
    position: absolute;
    top: 300px;
    left: 15.6vw;
    display: block;
    width: 18vw;
    height: 48vh;

    border: 3px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));

    .pf1-item-inner {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;

      transition: all 0.5s;

      &:hover {
        transform: scale(1.4);
      }

      .pf1-item-line {
        position: absolute;
        top: -60%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 1px;
        height: 60%;
        margin: 0 auto;

        box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
        background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent);
      }

      .pf1-item-top {
        position: relative;
        display: block;
        width: 100%;
        height: 80%;

        overflow: hidden;

        a {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;

          img {
            position: relative;
            display: block;
            width: 100%;
          }
        }

        .pf1-item-info {
          position: absolute;
          top: 30px;
          left: 0;
          display: block;
          width: 0;
          height: 300px;

          overflow: hidden;
          transition: all 0.5s;

          ul {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;

            background-color: rgba($color: $main-color, $alpha: 0.9);
            border-radius: 15px;
            filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));

            li {
              position: relative;
              display: block;
              width: 100%;
              height: 30px;

              a {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;

                font-size: 16px;
                font-weight: 600;
                line-height: 30px;
                text-align: center;
                color: #fff;

                transition: all 0.3s;

                &:hover {
                  transform: scale(1.05);
                  color: $sub-color;
                }
              }
            }
          }
        }

        &:hover .pf1-item-info {
          left: 30px;
          width: 120px;
        }
      }

      .pf1-item-bottom {
        position: relative;
        display: block;
        width: 100%;
        height: 20%;

        padding: 10px;
        background-color: $main-color;

        p {
          position: relative;
          display: block;
          width: 100%;

          font-weight: 200;
          font-size: 18px;
          color: #fff;

          text-align: center;
          line-height: 65px;

          transition: all 0.5s;
        }
      }

      &::before {
        content: "01";
        position: absolute;
        top: -30px;
        right: 0;
        display: block;

        font-family: "Ibarra Real Nova";
        font-size: 22px;
        color: #000;
      }

      &::after {
        content: "Lorem ipsum dolor sit amet.";
        position: absolute;
        top: 0;
        left: 100%;
        display: block;

        font-family: "Ibarra Real Nova";
        font-size: 20px;
        white-space: nowrap;
        color: #000;

        transform: rotate(90deg);
      }
    }

    .popopo_down_size {
      opacity: 0.5;
      transform: scale(0.8);
    }
  }

  .pf1-item_1 {
    .pf1-item-inner {
      &::before {
        content: "01";
      }
      &::after {
        content: "Baexang Gallery";
        top: 30px;
        left: 15vw;
      }
    }
  }

  .pf1-item_2 {
    top: 450px;
    left: 40.6vw;
    .pf1-item-inner {
      &::before {
        content: "02";
      }
      &::after {
        content: "Oscar Product";
        top: 22px;
        left: 15.6vw;
      }
    }
  }

  .pf1-item_3 {
    top: 150px;
    left: 66.6vw;
    .pf1-item-inner {
      &::before {
        content: "03";
      }
      &::after {
        content: "A Twosome Place";
        top: 40px;
        left: 15vw;
      }
    }
  }

  .pf1-item_4 {
    top: 1100px;
    left: 25vw;
    .pf1-item-inner {
      &::before {
        content: "04";
      }
      &::after {
        content: "Jeong Yook Gak";
        top: 33px;
        left: 15vw;
      }
    }
  }

  .pf1-item_5 {
    top: 1050px;
    left: 62.5vw;
    .pf1-item-inner {
      &::before {
        content: "05";
      }
      &::after {
        content: "ormak";
        top: -10px;
        left: 17.7vw;
      }
    }
  }
}

// 웹 퍼블리싱
.portfolio-part_2 {
  position: relative;
  display: block;
  width: 100%;

  background-color: $main-color;
  padding-bottom: 100px;

  .main-title {
    width: 1200px;
    margin: 0 auto;
    color: #fff;
  }

  // img
  .inner {
    background-color: #fff;
    border-radius: 0;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
    padding: 50px;
  }

  .sw-study-container {
    position: relative;
    display: block;
    width: 100%;
    padding: 15px;

    .sw-study-slide_wrap {
      position: relative;
      display: block;
      width: 100%;
      height: 350px;

      border-radius: 10px;
      filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
      overflow: hidden;

      img {
        width: 100%;
      }

      .sw-study-slide-titleBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 225px;
        height: 45px;

        background: rgba(50, 74, 94, 0.9);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        overflow: hidden;

        transform-origin: 50% 0;
        transition-duration: 0.3s;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: inline-block;

          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          text-align: center;
          color: #ffffff;
          white-space: nowrap;

          transition: all 0.3s;
        }
      }

      .sw-study-slide-infoBox {
        position: absolute;
        top: 60px;
        left: 48%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 200px;

        transition: all 0.3s;

        li {
          margin: 10px;
          a {
            font-size: 16px;
            font-weight: 300;
            color: #fff;

            transition: all 0.3s;

            &:hover {
              color: $sub-color;
            }
          }
        }
      }

      // ani
      &:hover span {
        font-size: 20px;
        top: 17%;
      }

      &:hover .sw-study-slide-titleBox {
        height: 150px;
      }
    }
  }

  .sw-study-control {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: block;
    width: 100%;
    height: 20px;

    .sw-study-pg {
      position: relative;
      display: block;
      width: 100%;

      text-align: center;

      .swiper-pagination-bullet {
        margin: 0 5px;

        transform: scale(0.8);
        transition: all 0.3s;
      }
      .swiper-pagination-bullet-active {
        background-color: $main-color;
        transform: scale(1.3);
      }
    }
  }
}
// 반응형
@media all and (max-width: 1440px) {
  .portfolio-part_2 {
    .main-title {
      width: 83.33vw;
    }
    .inner {
      width: 84vw;
    }
  }
}
// 프로젝트
.portfolio-part_3 {
  position: relative;
  display: block;
  width: 100%;

  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pf3-item {
    display: inline-block;
    width: 49%;
    height: 600px;

    padding: 40px;
    border-radius: 0px;
    margin-top: 20px;

    .pf3-item-img {
      position: relative;
      display: block;
      width: 100%;
      height: 70%;

      border-radius: 30px;
    }

    .pf3-item-txtbox {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 30%;

      padding-top: 35px;

      h3 {
        position: relative;
        display: block;

        font-size: 30px;
        font-weight: 700;

        margin-bottom: 10px;
      }

      p {
        position: relative;
        display: block;

        margin-bottom: 30px;
      }

      ul {
        position: relative;
        display: block;
        width: 100%;

        li {
          position: relative;
          display: inline-block;
          width: 80px;
          height: 30px;

          background-color: $main-color;
          border-radius: 50px;
          margin-right: 10px;

          transition: all 0.3s;

          a {
            position: relative;
            display: block;

            font-size: 14px;
            color: #fff;
            text-align: center;
            line-height: 30px;
          }

          &:hover {
            transform: scale(1.1);
            background-color: $sub-color;
          }
        }
      }
    }
  }

  .pf3-item_1 {
    .pf3-item-img {
      background: url("../images/ghibli_home.png") no-repeat center top;
      background-size: cover;

      transition: all 1s;

      &:hover {
        background: url("../images/ghibli_active.png") no-repeat center top;
        background-size: cover;
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
      }
    }
  }

  .pf3-item_2 {
    .pf3-item-img {
      background: url("../images/myMemo_home.png") no-repeat center top;
      background-size: cover;

      transition: all 0.3s;

      &:hover {
        background: url("../images/myMemo_active.png") no-repeat center top;
        background-size: cover;
        transform: scale(1.05);
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
      }
    }
  }

  .pf3-item_3 {
    .pf3-item-img {
      background: url("../images/당근마켓home.png") no-repeat center top;
      background-size: cover;
      transition: all 0.3s;

      &:hover {
        background: url("../images/당근마켓_uppage.png") no-repeat center top;
        background-size: cover;
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
      }
    }
  }
  .pf3-item_4 {
    .pf3-item-img {
      background: url("../images/작업중img.png") no-repeat center;
      background-size: cover;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.05);
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
      }
    }
  }
}
// 반응형
@media all and (max-width: 1440px) {
  .portfolio-part_3 {
    .inner {
      width: 84vw;

      .pf3-item-txtbox {
        h3 {
          font-size: 25px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}
@media all and (max-width: 700px) {
  .portfolio-part_3 {
    .inner {
      width: 84vw;

      .pf3-item {
        width: 100%;
      }
    }
  }
}

// 스킬
.portfolio-part_skill {
  position: relative;
  display: block;
  width: 100%;
  height: 700px;

  background-color: $main-color;

  .main-title {
    color: #fff;
    height: 150px;
    line-height: 100px;
  }

  .inner {
    left: 50%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;

    width: 1000px;
    height: 500px;
  }

  .pf-skill-item {
    width: 100%;
    height: 100%;

    border-radius: 30px;
    padding: 0 2% 30px;
    transition: all 0.5s;
    overflow: hidden;

    &:hover {
      transform: translateY(-2%);
    }

    h3 {
      position: relative;
      display: block;
      height: 80px;

      font-size: 26px;
      line-height: 80px;
      white-space: nowrap;
      text-align: center;

      &::after {
        content: "";
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 80%;
        height: 1px;

        background-color: rgba($color: #333, $alpha: 0.8);
      }
    }

    ul {
      position: relative;
      display: flex;
      flex-wrap: wrap;

      li {
        padding: 10px 0;

        img {
          position: relative;
          display: inline-block;
        }
      }
    }
  }

  .pf-skill-item_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 5;

    ul {
      li {
        &:nth-child(1) {
          width: 100%;
          text-align: center;
          margin: 20px 0 40px;
        }
        &:nth-child(2) {
          padding-top: 30px;
          padding-left: 30px;
        }
        &:nth-child(3) {
          padding-left: 10px;
          padding-right: 10px;
        }

        .jquery {
          width: 160px;
        }
        .scss {
          width: 100px;
        }
        .vue {
          width: 100px;
        }
      }
    }
  }
  .pf-skill-item_2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    ul {
      justify-content: center;
      li {
        margin: 0 20px;
        .git {
          width: 100px;
        }
        .github {
          width: 100px;
        }
      }
    }
  }
  .pf-skill-item_3 {
    grid-column: 2 / 3;
    grid-row: 3 / 5;

    ul {
      justify-content: center;
      li {
        margin: 0 20px;
        .figma {
          width: 100px;
        }
        .notion {
          margin-top: 10px;
          width: 80px;
        }
      }
    }
  }
}
// 반응형
@media all and (max-width: 1025px) {
  .portfolio-part_skill {
    .inner {
      width: 97.5vw;
    }
  }
}
/* ===== ///Portfolio ===== */
// ---------------------------------------------------------------------
/* ===== Life ===== */
.life {
  height: 800px;

  .main-title {
    width: 1200px;
    margin: 0 auto;

    &::after {
      width: 40%;
      left: 120px;
    }
  }

  .inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-gap: 20px;

    // border: 1px solid #000;

    .lf-item {
      display: inline-block;
      border-radius: 0;

      width: 100%;
      height: 100%;

      overflow: hidden;

      span {
        position: absolute;
        bottom: 30px;
        left: 30px;
        display: inline-block;

        font-size: 22px;
        font-weight: 500;
        color: #fff;

        transition: all 0.5s;
      }

      .potoCover {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;

        padding: 40px 30px;
        background-color: rgba($color: #000, $alpha: 0.7);
        opacity: 0;

        transition: all 0.7s;

        p {
          position: relative;
          display: block;
          font-size: 16px;
          color: #fff;
          line-height: 25px;

          strong {
            position: relative;
            display: block;

            font-size: 18px;
            font-weight: 600;

            padding-bottom: 10px;
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;

        transition: all 0.7s;
      }

      &:hover span {
        opacity: 0;
      }

      &:hover::before {
        transform: scale(1.1);
      }

      &:hover .potoCover {
        opacity: 1;
      }
    }

    .lf-item_1 {
      grid-row: 1/3;

      &::before {
        background: url("../images/my_pt_3.svg") no-repeat center;
        background-size: cover;
      }
    }

    .lf-item_2 {
      grid-column: 2/4;

      &::before {
        background: url("../images/my_pt_4.svg") no-repeat center;
        background-size: cover;
      }
    }

    .lf-item_3 {
      grid-column: 4/5;
      grid-row: 1/3;

      &::before {
        background: url("../images/my_pt_7.jpg") no-repeat center;
        background-size: cover;
      }
    }

    .lf-item_4 {
      &::before {
        background: url("../images/my_pt_6.svg") no-repeat top;
        background-size: cover;
      }

      .potoCover {
        .Ch_icon {
          position: relative;
          top: 4px;
          display: inline-block;
          width: 20px;
          height: 20px;

          background: url("../images/icon/첼시icon.svg") no-repeat center;
          background-size: cover;
        }
      }
    }

    .lf-item_5 {
      &::before {
        background: url("../images/my_pt_5.svg") no-repeat center;
        background-size: cover;
      }
    }
  }
}
// 반응형
@media all and (max-width: 1440px) {
  .life {
    .main-title {
      width: 83.33vw;
    }
    .inner {
      width: 83.33vw;
    }
  }
}

/* ===== ///Life ===== */
// ---------------------------------------------------------------------
/* ===== vision ===== */
.vision {
  // background-color: #888;

  .main-title {
    width: 900px;
    margin: 0 auto;
    text-align: center;

    margin-bottom: 50px;

    &::before {
      content: "";
      position: absolute;
      top: 50px;
      left: 0;
      display: block;
      width: 35%;
      height: 3px;
      background-color: $main-color;
    }
    &::after {
      right: 0;
      width: 35%;
    }
  }

  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;

    .vision-item {
      width: 300px;
      height: 260px;

      padding: 20px;
      margin: 0 10px;

      transition: all 0.3s;

      h3 {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        line-height: 35px;
      }

      &::before {
        content: "";
        position: absolute;
        top: -47px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 50px;
        height: 50px;
      }

      &:nth-child(1) {
        &::before {
          background: url("../images/icon/vision_1.png") no-repeat center;
          background-size: cover;
        }

        &:hover {
          transform: translateY(-2%);
        }
      }
      &:nth-child(2) {
        &::before {
          background: url("../images/icon/vision_2.png") no-repeat center;
          background-size: cover;
        }

        &:hover {
          transform: translateY(-5%);
        }
      }
      &:nth-child(3) {
        &::before {
          background: url("../images/icon/vision_3.png") no-repeat center;
          background-size: cover;
        }

        &:hover {
          transform: translateY(-10%);
        }
      }
    }
  }
}
// 반응형
@media all and (max-width: 1025px) {
  .vision {
    .main-title {
      width: 87.8vw;
    }
    .inner {
      width: 97.5vw;

      .vision-item {
        width: 90%;
        margin: 20px 0;
      }
    }
  }
}
/* ===== ///vision ===== */
// ---------------------------------------------------------------------
/* ===== Contact ===== */
.contact {
  background-color: $main-color;
  margin-bottom: 0;
  padding-top: 0;

  .main-title {
    text-align: center;
    color: #fff;

    &::after {
      content: none;
    }
  }

  .contact_txt {
    position: relative;
    display: flex;
    justify-content: center;

    li {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;

      margin: 0 15px;

      transition: all 0.3s;

      &:hover {
        transform: scale(1.1);
      }

      a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
      }

      &:nth-child(1) {
        background: url("../images/contact_github.svg") no-repeat center;
        background-size: cover;
      }

      &:nth-child(2) {
        background: url("../images/contact_mail.svg") no-repeat center;
        background-size: cover;
      }

      &:nth-child(3) {
        background: url("../images/contact_kakao.svg") no-repeat center;
        background-size: cover;
      }
    }
  }

  .copyright {
    position: relative;
    display: block;
    width: 100%;
    height: 160px;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;

      font-size: 18px;
      font-weight: 400;
      color: #fff;
      white-space: nowrap;
    }
  }
}
// 반응형
@media all and (max-width: 1025px) {
  .contact {
    .copyright {
      p {
        font-size: 14px;
      }
    }
  }
}
/* ===== ///Contact ===== */
// ---------------------------------------------------------------------
