* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Cafe24Oneprettynight", "NanumSquareRound", "Ibarra Real Nova";
}

.wrap {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.inner {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 1400px;
}

section {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 100px;
}

.main-title {
  position: relative;
  display: block;
  width: 100%;
  font-family: "Cafe24Oneprettynight";
  font-size: 130px;
  font-weight: 600;
  text-align: center;
  padding: 30px 0;
}

.base_box {
  position: relative;
  display: block;
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

.sample1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px;
  text-align: center;
}
.sample1 a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../images/icon/github.svg") no-repeat center;
  background-size: cover;
  transition: all 0.5s;
}
.sample1:hover a {
  background: url("../images/icon/github.Navy.svg") no-repeat center;
  background-size: cover;
}

.toptoptop {
  left: 62%;
}
.toptoptop a {
  background: url("../images/icon/figma_icon.svg") no-repeat center;
  background-size: cover;
}

/* ===== Home ===== */
.home {
  width: 100vw;
  height: 100vh;
}
.home .logo {
  position: absolute;
  top: 75px;
  left: 95px;
  display: inline-block;
  font-family: "Ibarra Real Nova";
  font-size: 32px;
  font-weight: bold;
}
.home .logo::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -15px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 3px;
  background-color: #29306A;
}
.home .homeNav {
  position: absolute;
  top: 95px;
  right: 140px;
  display: block;
  width: 600px;
  z-index: 99;
  font-family: "Ibarra Real Nova";
}
.home .homeNav ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.home .homeNav ul li {
  position: relative;
  display: block;
}
.home .homeNav ul li a {
  position: relative;
  display: block;
  font-size: 24px;
  opacity: 0.5;
  transition: all 0.7s;
}
.home .homeNav ul li:first-child a {
  opacity: 1;
  color: #29306A;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.home .homeNav ul li::after {
  content: "";
  position: absolute;
  top: -50px;
  left: -30px;
  display: block;
  width: 135px;
  height: 135px;
  background: url("../images/paint_smear_0.svg") no-repeat center;
  background-size: cover;
  opacity: 0;
  transition: all 0.7s;
  z-index: -1;
}
.home .homeNav ul li:hover::after {
  opacity: 1;
}
.home .homeNav ul li:hover a {
  opacity: 1;
}
.home .home-left {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 50%;
  height: 100%;
  padding: 50px;
}
.home .home-left strong {
  position: relative;
  top: 300px;
  left: 100px;
  display: block;
  font-family: "Cafe24Oneprettynight";
  font-size: 140px;
}
.home .home-left p {
  position: relative;
  top: 350px;
  left: 200px;
  display: block;
  font-family: "Cafe24Oneprettynight";
  font-size: 70px;
}
.home .home-left p span {
  position: relative;
  display: inline-block;
  font-weight: 600;
  line-height: 100px;
  color: #29306A;
}
.home .home-right {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50%;
  height: 100%;
}

/* ===== /// Home ===== */
/* ===== About ===== */
.About_Me {
  height: 700px;
}
.About_Me::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: rgba(255, 240, 0, 0.1);
  filter: blur(75px);
}
.About_Me .about-left {
  position: absolute;
  left: 15%;
  display: inline-block;
  border-radius: 20px;
}
.About_Me .about-left .about_img {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 300px;
  height: 300px;
  background: url("../images/sample_img_1.svg") no-repeat center;
  background-size: cover;
  border: 3px solid rgba(41, 48, 106, 0.25);
  border-radius: 10px;
}
.About_Me .about-left p {
  position: absolute;
  bottom: 30px;
  left: 0;
  display: block;
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.About_Me .about-right {
  position: absolute;
  right: 15%;
  display: inline-block;
  width: 550px;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}
.About_Me .about-right::before {
  content: "";
  position: absolute;
  top: -200px;
  left: -210px;
  display: block;
  width: 850px;
  height: 850px;
  background: url("../images/paint_smear_1.svg") no-repeat center;
  background-size: cover;
  opacity: 1;
  z-index: -1;
}
.About_Me .about-right ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.About_Me .about-right ul li {
  position: relative;
  display: block;
  width: 50%;
}
.About_Me .about-right ul li h4 {
  position: relative;
  display: block;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 0;
}
.About_Me .about-right ul li p {
  position: relative;
  display: block;
  font-size: 20px;
  padding-left: 10px;
}
.About_Me .about-right ul li:last-child {
  width: 100%;
}

/* ===== ///About ===== */
/* ===== Portfolio ===== */
.portfolio {
  width: 100%;
}

.portfolio-part_1 {
  position: relative;
  display: block;
  width: 100%;
  height: 2000px;
}
.portfolio-part_1 .pf_bg_1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: rgba(48, 148, 161, 0.5);
  filter: blur(100px);
}
.portfolio-part_1 .sample2 {
  position: absolute;
  top: 300px;
  left: 300px;
  display: block;
  width: 350px;
  height: 800px;
  z-index: 100;
}
.portfolio-part_1 .sample2 span {
  position: relative;
  display: block;
  width: 1px;
  height: 40%;
  margin: 0 auto;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent);
}
.portfolio-part_1 .sample2 .popopo {
  position: relative;
  display: block;
  width: 100%;
  height: 60%;
  border: 3px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
}
.portfolio-part_1 .sample2 .popopo .po1 {
  position: relative;
  display: block;
  width: 100%;
  height: 80%;
  overflow-y: auto;
}
.portfolio-part_1 .sample2 .popopo .po1 a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.portfolio-part_1 .sample2 .popopo .po1 a img {
  position: relative;
  display: block;
  width: 100%;
}
.portfolio-part_1 .sample2 .popopo .po2 {
  position: relative;
  display: block;
  width: 100%;
  height: 20%;
  padding: 10px;
  background-color: #29306A;
}
.portfolio-part_1 .sample2 .popopo .po2 p {
  position: relative;
  display: block;
  width: 100%;
  font-family: "NanumSquareRound";
  font-weight: 200;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 65px;
  transition: all 0.5s;
}
.portfolio-part_1 .sample2 .popopo .po2 .icon-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 300px;
  opacity: 0;
  transition: all 0.5s;
}
.portfolio-part_1 .sample2 .popopo .po2 .icon-box li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
}
.portfolio-part_1 .sample2 .popopo .po2 .icon-box li:nth-child(1) a {
  background: url("../images/icon/web_icon.svg") no-repeat center;
  background-size: cover;
}
.portfolio-part_1 .sample2 .popopo .po2 .icon-box li:nth-child(2) a {
  background: url("../images/icon/responsive_icon.svg") no-repeat center;
  background-size: cover;
}
.portfolio-part_1 .sample2 .popopo .po2 .icon-box li:nth-child(3) a {
  background: url("../images/icon/vue_icon.svg") no-repeat center;
  background-size: cover;
}
.portfolio-part_1 .sample2 .popopo .po2 .icon-box li:nth-child(4) a {
  background: url("../images/icon/github_icon.svg") no-repeat center;
  background-size: cover;
}
.portfolio-part_1 .sample2 .popopo .po2 .icon-box li:nth-child(5) a {
  background: url("../images/icon/chrome_icon.svg") no-repeat center;
  background-size: cover;
}
.portfolio-part_1 .sample2 .popopo .po2 .icon-box li:nth-child(6) a {
  background: url("../images/icon/figma_Navy_icon.svg") no-repeat center;
  background-size: cover;
}
.portfolio-part_1 .sample2 .popopo .po2:hover p {
  opacity: 0;
}
.portfolio-part_1 .sample2 .popopo .po2:hover .icon-box {
  opacity: 1;
}
.portfolio-part_1 .sample2 .popopo::before {
  content: "01";
  position: absolute;
  top: -30px;
  right: 0;
  display: block;
  font-size: 22px;
  color: #000;
}
.portfolio-part_1 .sample2 .popopo::after {
  content: "Lorem ipsum dolor sit amet.";
  position: absolute;
  top: 80px;
  right: -140px;
  display: block;
  font-size: 20px;
  color: #000;
  transform: rotate(90deg);
}
.portfolio-part_1 .ptptpt2 {
  top: 500px;
  left: 800px;
}
.portfolio-part_1 .ptptpt3 {
  top: 100px;
  left: 1300px;
}
.portfolio-part_1 .ptptpt4 {
  top: 1150px;
  left: 480px;
}
.portfolio-part_1 .ptptpt5 {
  top: 1000px;
  left: 1200px;
}

.portfolio-part_2 {
  position: relative;
  display: block;
  width: 100%;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.05);
}
.portfolio-part_2 .headerBox {
  position: absolute;
  left: -1000px;
  display: block;
  width: 1000px;
  height: 80px;
  background-color: #29306A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 10px 10px 0;
}
.portfolio-part_2 .headerBox span {
  position: absolute;
  top: 15px;
  right: 70px;
  display: inline-block;
  font-family: "Cafe24Oneprettynight";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
}
.portfolio-part_2 .sw_study-wrap {
  position: relative;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 1400px;
  background-color: #fff;
  border-radius: 20px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
  padding: 50px;
}
.portfolio-part_2 .sw_study_img {
  position: relative;
  display: block;
  width: 1300px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}
.portfolio-part_2 .sw_study_img-slide_wrap {
  position: relative;
  display: block;
  width: 300px;
  height: 375px;
  border-radius: 10px;
  overflow: hidden;
}
.portfolio-part_2 .sw_study_img-slide_wrap img {
  width: 100%;
}
.portfolio-part_2 .sw_study_img-slide_wrap .titleBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 225px;
  height: 45px;
  background: rgba(50, 74, 94, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  transform-origin: 50% 0;
  transition-duration: 0.3s;
}
.portfolio-part_2 .sw_study_img-slide_wrap .titleBox span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-family: "Cafe24Oneprettynight";
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  white-space: nowrap;
  transition: all 0.3s;
}
.portfolio-part_2 .sw_study_img-slide_wrap .infoBox {
  position: absolute;
  top: 80px;
  display: flex;
  justify-content: space-between;
  width: 200px;
  transition: all 0.3s;
}
.portfolio-part_2 .sw_study_img-slide_wrap .infoBox li a {
  font-family: "Cafe24Oneprettynight";
  font-size: 22px;
  color: #fff;
  transition: all 0.3s;
}
.portfolio-part_2 .sw_study_img-slide_wrap .infoBox li a:hover {
  color: teal;
}
.portfolio-part_2 .sw_study_img-slide_wrap:hover span {
  top: 17%;
}
.portfolio-part_2 .sw_study_img-slide_wrap:hover .titleBox {
  height: 150px;
}

.portfolio-part_3 {
  position: relative;
  display: block;
  width: 100%;
  height: 2000px;
  background-color: rgba(51, 51, 51, 0.1);
}
.portfolio-part_3 .headerBox {
  position: absolute;
  right: -1100px;
  display: block;
  width: 1100px;
  height: 80px;
  background-color: #29306A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0 0 10px;
}
.portfolio-part_3 .headerBox span {
  position: absolute;
  top: 15px;
  left: 70px;
  display: inline-block;
  font-family: "Cafe24Oneprettynight";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
}
.portfolio-part_3 .sample6 {
  width: 650px;
  height: 700px;
}
.portfolio-part_3 .roro1 {
  position: absolute;
  top: 10%;
  left: 25%;
}
.portfolio-part_3 .roro2 {
  position: absolute;
  bottom: 10%;
  right: 25%;
}

.portfolio-part_skill {
  position: relative;
  display: block;
  width: 100%;
  height: 900px;
}
.portfolio-part_skill .skil_bg1 {
  position: absolute;
  top: 27%;
  display: block;
  width: 100%;
  height: 50px;
  background-color: rgba(41, 48, 106, 0.6);
}
.portfolio-part_skill .skil_bg2 {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 100px;
  background-color: rgba(41, 48, 106, 0.8);
}
.portfolio-part_skill .sample5 {
  position: absolute;
  display: block;
  width: 450px;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 0 2% 30px;
  transition: all 0.5s;
}
.portfolio-part_skill .sample5:hover {
  transform: translateY(-2%);
}
.portfolio-part_skill .sample5 h3 {
  position: relative;
  display: block;
  height: 80px;
  font-family: "Cafe24Oneprettynight";
  font-size: 30px;
  line-height: 80px;
  white-space: nowrap;
  text-align: center;
}
.portfolio-part_skill .sample5 h3::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 80%;
  height: 1px;
  background-color: rgba(51, 51, 51, 0.8);
}
.portfolio-part_skill .sample5 ul {
  position: relative;
  display: flex;
  flex-direction: column;
}
.portfolio-part_skill .sample5 ul li {
  padding: 10px 0;
}
.portfolio-part_skill .sample5 ul li img {
  position: relative;
  display: inline-block;
}
.portfolio-part_skill .son1 {
  top: 120px;
  left: 500px;
}
.portfolio-part_skill .son1 .scss {
  height: 100px;
}
.portfolio-part_skill .son1 .vue {
  height: 100px;
}
.portfolio-part_skill .son2 {
  top: 100px;
  right: 550px;
  width: 325px;
}
.portfolio-part_skill .son2 .git {
  width: 150px;
}
.portfolio-part_skill .son2 .github {
  width: 200px;
}
.portfolio-part_skill .son3 {
  bottom: 100px;
  right: 600px;
  width: 300px;
}
.portfolio-part_skill .son3 .figma {
  width: 200px;
}
.portfolio-part_skill .son3 .notion {
  width: 200px;
}

/* ===== ///Portfolio ===== */
/* ===== animation ===== */
.down-go {
  -webkit-animation: down-go 1s 1 ease-out;
          animation: down-go 1s 1 ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes down-go {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes down-go {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.togolong-left {
  -webkit-animation-name: togolong-left;
          animation-name: togolong-left;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes togolong-left {
  0% {
    left: -1000px;
  }
  100% {
    left: 0;
  }
}

@keyframes togolong-left {
  0% {
    left: -1000px;
  }
  100% {
    left: 0;
  }
}
.togolong-right {
  -webkit-animation-name: togolong-right;
          animation-name: togolong-right;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes togolong-right {
  0% {
    right: -1100px;
  }
  100% {
    right: 0;
  }
}

@keyframes togolong-right {
  0% {
    right: -1100px;
  }
  100% {
    right: 0;
  }
}/*# sourceMappingURL=main.css.map */